{% extends 'mabase.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	{# valeur de product :{{ dump(product)}} #}
	<div class="container">
		{{ form(form) }}
	</div>

{% endblock %}