{% extends 'mabase.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	{# valeur de product :{{ dump(product)}} #}
	<div class="container">
		<div class="alert alert-success" role="alert">
			Categorie ajoute avec succes
		</div>
	</div>

{% endblock %}
