{% extends 'mabase.html.twig' %}

{% block title %}Hello Categorie!
{% endblock %}

{% block body %}
	
	<div class="container">
    <h1>Liste des categories</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
                   
				</tr>
			</thead>
			<tbody>


				{% for c in categories %}
					<tr>
						<th scope="row">{{ c.id }}</th>
						<td>{{ c.name }}</td>
                        <td><a href="{{ path("categorie_show",{"id":c.id})}}">Detail</a></td>
					    <td><a href="{{ path("categorie_delete",{"id":c.id})}}">Supprimer</a></td>
					</tr>


				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}
